<%# Use forEach to iterate over messages array and then pull out each object and access its data  %>

<% messages.forEach((element)=>{ %>
<p> Hi, my name is <%= element.name %>. <%= element.message %> </p>
<%})%>