<h1>I'm the Contact Page</h1>


<!-- //the element part is value so we use the tags with =, but for the rest, it's pure javascript so we use just <% %>-->
<h2>
    <% people.forEach((element)=>{ %>
    <h2><%= element %></h2>
    <%  }) %>
</h2>