<%- include("partials/header")%>



<div class="site-wrapper">

    <div class="site-wrapper-inner">

        <div class="container">

            <div class="masthead clearfix">
                <div class="container inner">
                    <h3 class="masthead-brand">The Quotes</h3>
                </div>
            </div>

            <div class="inner cover">
                <h1 class="cover-heading">Generate an inspirational quote.</h1>
                <p class="lead">Click the button to get an inspirational quote.
                </p>
                <form method="get" action="/quote">
                    <button class="btn btn-lg btn-default">Get Quote</button>
                </form>
            </div>

        </div>

    </div>

</div>
<%- include("partials/footer")%>