<%- include("partials/header.ejs", {data: "About"}) %>


<div class="jumbotron">
    <h1 class="display-4">About our company</h1>
    <p class="lead">We've got glazed, chocolate iced, raspberry filled, chocolate iced glazed, glazed chocolate cake,
        powdered cake, and about three dozen other flavors to satisfy your sugar cravings.</p>

</div>

<%- include("partials/footer.ejs") %>