<%- include("partials/header.ejs", {data: "Contact"}) %>

<div class="contact">
    <p>Got suggestions on new donut flavors? Shoot us a message.</p>
    <form action="">
        <label for="suggestions"></label>
        <textarea name="suggestions" id="suggestions" cols="50" rows="5"></textarea>
        <br>
        <button class="btn btn-secondary" type="submit">Submit</button>
    </form>
</div>

<%- include("partials/footer.ejs") %>